Repository ecruz165/conversation-ui-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, frontend-tests, java-format-check

typescript-check:
  name: TypeScript Check
  entry: pnpm run type-check
  language: system
  pass_filenames: false

frontend-tests:
  name: Frontend Tests
  entry: pnpm run test:frontend
  language: system
  pass_filenames: false

java-format-check:
  name: Java Format Check
  entry: mvn spotless:check
  language: system
  pass_filenames: false

fix: create proper type definitions for Navigation and WebSocket (task 32)
  frontend/management-ui/smoke-test.mjs
  frontend/management-ui/src/chat-widget/types/index.ts
Due: typescript-check, frontend-tests

fix: wrap functions in useCallback to fix React Hook dependencies (task 34)
  frontend/management-ui/src/chat-widget/components/MessageInput.tsx
  frontend/management-ui/src/chat-widget/hooks/useConversation.ts
Due: typescript-check, frontend-tests

fix: replace array index keys with stable identifiers (task 36)
  frontend/management-ui/src/chat-widget/components/MessageList.tsx
  frontend/management-ui/src/chat-widget/components/NavigationHelper.tsx
  frontend/management-ui/src/components/visualizations/ScoreBreakdownBars.tsx
Due: typescript-check, frontend-tests

fix: add Speech Recognition type definitions (task 33)
  frontend/management-ui/src/chat-widget/components/MessageInput.tsx
  frontend/management-ui/src/chat-widget/types/speech-recognition.d.ts
  frontend/management-ui/src/vite-env.d.ts
Due: typescript-check, frontend-tests

fix: add explicit type='button' attributes (task 35)
  frontend/management-ui/src/App.tsx
  frontend/management-ui/src/chat-widget/components/ChatWidget.tsx
  frontend/management-ui/src/chat-widget/components/MessageInput.tsx
  frontend/management-ui/src/chat-widget/components/NavigationHelper.tsx
  frontend/management-ui/src/components/DefaultCatchBoundary.tsx
  frontend/management-ui/src/components/NotFound.tsx
Due: typescript-check, frontend-tests

chore: configure pre-commit hooks and CI/CD linting (task 39)
  frontend/management-ui/.github/workflows/lint.yml
  frontend/management-ui/.husky/pre-commit
  frontend/management-ui/package.json
Due: none

chore: remove lint and type-check GitHub Actions workflow
  frontend/management-ui/.github/workflows/lint.yml
Due: none

fix: replace explicit any types with proper TypeScript interfaces (Task 41)
  frontend/management-ui/src/chat-widget/components/MessageInput.tsx
  frontend/management-ui/src/chat-widget/hooks/useConversation.ts
  frontend/management-ui/src/chat-widget/web-component/index.ts
  frontend/management-ui/src/components/NotFound.tsx
Due: typescript-check, frontend-tests

refactor: extract nested component definitions from MessageList (Task 42)
  frontend/management-ui/src/chat-widget/components/MessageList.tsx
Due: typescript-check, frontend-tests

a11y: add keyboard event handlers for suggestion buttons (Task 43)
  frontend/management-ui/src/chat-widget/components/MessageList.tsx
Due: typescript-check, frontend-tests

a11y: add SVG accessibility attributes to radar chart (Task 45)
  frontend/management-ui/src/components/visualizations/MultiModalRadarChart.tsx
Due: typescript-check, frontend-tests

refactor: replace array index keys with stable identifiers (Task 46)
  frontend/management-ui/src/components/LinkForm.tsx
  frontend/management-ui/src/components/visualizations/MultiModalRadarChart.tsx
  frontend/management-ui/src/components/visualizations/WeightedScoreExplanation.tsx
Due: typescript-check, frontend-tests

fix: replace non-null assertions and improve semantic elements (Task 47)
  frontend/management-ui/src/App.tsx
  frontend/management-ui/src/chat-widget/components/MessageList.tsx
  frontend/management-ui/src/chat-widget/web-component/index.ts
  frontend/management-ui/src/hooks/useEnhancedEmbeddingTest.ts
  frontend/management-ui/src/hooks/useScreenshotAnalysis.ts
Due: typescript-check, frontend-tests

feat: create reusable accessibility components and hooks (Task 48)
  frontend/management-ui/src/components/accessibility/AccessibleButton.tsx
  frontend/management-ui/src/components/accessibility/FocusTrap.tsx
  frontend/management-ui/src/components/accessibility/InteractiveDiv.tsx
  frontend/management-ui/src/components/accessibility/SkipLink.tsx
  frontend/management-ui/src/components/accessibility/index.ts
  frontend/management-ui/src/hooks/useKeyboardInteraction.ts
Due: typescript-check, frontend-tests

feat: implement comprehensive accessibility testing suite (Task 49)
  frontend/management-ui/e2e/accessibility.spec.ts
  frontend/management-ui/package.json
  frontend/management-ui/src/components/accessibility/__tests__/accessibility-components.test.tsx
  frontend/management-ui/src/test/__tests__/keyboard-navigation.test.tsx
  frontend/management-ui/src/test/a11y-test-utils.tsx
  frontend/management-ui/src/test/setup.ts
  frontend/management-ui/vitest.config.ts
Due: typescript-check, frontend-tests

feat: add performance optimizations and monitoring (Task 50)
  frontend/management-ui/package.json
  frontend/management-ui/src/chat-widget/components/MessageList.tsx
  frontend/management-ui/src/test/performance-benchmarks.test.tsx
  frontend/management-ui/src/test/setup.ts
  frontend/management-ui/src/utils/performance-monitor.ts
Due: typescript-check, frontend-tests

feat: add Save Configuration button for enhanced embedding weights
  frontend/management-ui/src/pages/website/EmbeddingTest.tsx
Due: typescript-check, frontend-tests

feat: update route paths and enhance embedding quality metrics
  frontend/management-ui/src/App.tsx
  frontend/management-ui/src/components/LinkDetailDialog.tsx
  frontend/management-ui/src/mocks/data.ts
  frontend/management-ui/src/pages/website/CrawlManagement.tsx
  frontend/management-ui/src/pages/website/EmbeddingTest.tsx
  frontend/management-ui/src/pages/website/LinkManagement.tsx
  frontend/management-ui/src/pages/website/Overview.tsx
  frontend/management-ui/src/pages/website/ScreenshotAnalysis.tsx
  frontend/management-ui/src/pages/website/WidgetCode.tsx
Due: typescript-check, frontend-tests

fix: replace non-null assertions with validation in create mutation
  frontend/management-ui/src/hooks/useNavigationLinkMutations.ts
Due: typescript-check, frontend-tests

fix: replace non-null assertion with validation in main.tsx
  frontend/management-ui/src/main.tsx
Due: typescript-check, frontend-tests

fix: replace explicit any type with Website type in useSearchConfiguration.ts
  frontend/management-ui/src/hooks/useSearchConfiguration.ts
Due: typescript-check, frontend-tests

chore: add biome linter configuration and document auto-generated files
  frontend/management-ui/biome.json
  frontend/management-ui/src/routeTree.gen.ts
Due: typescript-check, frontend-tests

fix: update embeddings tester link in Overview page
  frontend/management-ui/src/pages/website/Overview.tsx
Due: typescript-check, frontend-tests

refactor: improve code formatting and consistency across components
  frontend/management-ui/src/chat-widget/components/MessageList.tsx
  frontend/management-ui/src/components/LinkDetailDialog.tsx
  frontend/management-ui/src/components/accessibility/FocusTrap.tsx
  frontend/management-ui/src/components/accessibility/index.ts
  frontend/management-ui/src/hooks/useKeyboardInteraction.ts
  frontend/management-ui/src/pages/website/EmbeddingTest.tsx
  frontend/management-ui/src/test/__tests__/keyboard-navigation.test.tsx
  frontend/management-ui/src/test/a11y-test-utils.tsx
  frontend/management-ui/src/test/performance-benchmarks.test.tsx
  frontend/management-ui/src/test/setup.ts
  frontend/management-ui/src/utils/performance-monitor.ts
Due: typescript-check, frontend-tests

feat: enhance search configuration and analysis options
  frontend/management-ui/src/api/service.ts
  frontend/management-ui/src/hooks/useScreenshotAnalysis.ts
  frontend/management-ui/src/hooks/useSearchConfiguration.ts
Due: typescript-check, frontend-tests

refactor: improve null-safety and simplify embedding logic
  frontend/management-ui/src/chat-widget/components/MessageInput.tsx
  frontend/management-ui/src/components/LinkDetailDialog.tsx
  frontend/management-ui/src/components/visualizations/MultiModalScoreBreakdown.tsx
  frontend/management-ui/src/hooks/useIntersectionObserver.ts
  frontend/management-ui/src/pages/website/EmbeddingTest.tsx
  frontend/management-ui/src/pages/website/LinkManagement.tsx
  frontend/management-ui/src/routes/__root.tsx
  frontend/management-ui/src/test/performance-benchmarks.test.tsx
Due: typescript-check, frontend-tests

refactor: improve null-safety and type definitions in ChatWidgetElement
  frontend/management-ui/package.json
  frontend/management-ui/src/chat-widget/web-component/ChatWidgetElement.ts
Due: typescript-check, frontend-tests

added id to request path
  frontend/management-ui/qodana.yaml
Due: none

fix: resolve TypeScript and biome linting errors
  .pre-commit-config.yaml
  biome.json
  frontend/management-ui/biome.json
  frontend/management-ui/e2e/accessibility.spec.ts
  frontend/management-ui/playwright-webcomponent-test.mjs
  frontend/management-ui/screenshot-test.mjs
  frontend/management-ui/smoke-test.mjs
  frontend/management-ui/src/App.tsx
  frontend/management-ui/src/components/LinkDetailDialog.tsx
  frontend/management-ui/src/hooks/useScreenshotAnalysis.ts
  frontend/management-ui/src/pages/website/AnalysisHistoryViewer.tsx
  frontend/management-ui/src/pages/website/CrawlManagement.tsx
  frontend/management-ui/src/pages/website/EmbeddingTest.tsx
  frontend/management-ui/src/pages/website/LinkManagement.tsx
  frontend/management-ui/src/pages/website/Overview.tsx
  frontend/management-ui/src/pages/website/ScreenshotAnalysis.tsx
  frontend/management-ui/src/pages/website/SyntheticQueryManager.tsx
  frontend/management-ui/src/pages/website/WidgetCode.tsx
  frontend/management-ui/tailwind.config.mjs
  frontend/management-ui/vite.config.ts
  frontend/management-ui/vite.webcomponent.config.ts
  frontend/management-ui/vitest.config.ts
Due: typescript-check, frontend-tests

fix: resolve remaining biome linting errors in test and web component files
  frontend/management-ui/src/chat-widget/web-component/ChatWidgetElement.ts
  frontend/management-ui/src/test/__tests__/keyboard-navigation.test.tsx
Due: typescript-check, frontend-tests

feat: add detailed architecture presentation with dynamic visualization
  frontend/management-ui/presentation-architecture.html
  frontend/management-ui/presentation-data-flow.html
Due: none

create base migration files
  backend/management-service/.gitignore
  backend/management-service/src/main/resources/application.properties
  backend/management-service/src/main/resources/db/migration/V1.0.0__Enable_pgvector_extension.sql
  backend/management-service/src/main/resources/db/migration/V1.1.0__Create_users_table.sql
  backend/management-service/src/main/resources/db/migration/V1.2.0__Create_conversations_table.sql
  backend/management-service/src/main/resources/db/migration/V1.3.0__Create_ai_models_table.sql
  backend/management-service/src/main/resources/db/migration/V1.4.0__Create_audit_logs_table.sql
  backend/management-service/src/main/resources/db/migration/V1.5.0__Insert_initial_data.sql
  backend/management-service/src/main/resources/db/migration/V1.6.0__Create_websites_and_navigation_tables.sql
  backend/management-service/src/main/resources/db/migration/V1.7.0__Create_page_embeddings_infrastructure.sql
  backend/management-service/src/main/resources/db/migration/V1.8.0__Create_crawl_management_system.sql
  backend/management-service/src/main/resources/db/migration/V1.9.0__Create_navigation_tracking_tables.sql
  backend/management-service/src/main/resources/db/migration/V2.0.0__Create_synthetic_query_system.sql
  backend/management-service/src/main/resources/db/migration/V2.1.0__Create_analytics_and_metrics_infrastructure.sql
  backend/management-service/src/main/resources/db/migration/V2.2.0__Create_retention_and_cleanup_automation.sql
  backend/management-service/src/main/resources/db/migration/V2.3.0__Create_advanced_indexing_and_optimization.sql
  backend/management-service/src/main/resources/db/migration/V2.4.0__Create_security_monitoring_and_procedures.sql
Due: none

fix: normalize tasks directory entry in .gitignore
  backend/management-service/.gitignore
Due: none

feat: add V1.6.1 migration to extend websites table (task 21)
  backend/management-service/src/main/resources/db/migration/V1.6.1__Extend_websites_table_for_registration.sql
  docs/prd/website-registration-api-implementation.md
Due: none

feat: add request and response DTO records for website registration (task 22)
  backend/management-service/pom.xml
  backend/management-service/src/main/java/com/example/demo/management_service/dto/request/ContactInfo.java
  backend/management-service/src/main/java/com/example/demo/management_service/dto/request/DomainConfiguration.java
  backend/management-service/src/main/java/com/example/demo/management_service/dto/request/DomainCredentials.java
  backend/management-service/src/main/java/com/example/demo/management_service/dto/request/RegisterWebsiteRequest.java
  backend/management-service/src/main/java/com/example/demo/management_service/dto/request/ScannableDomain.java
  backend/management-service/src/main/java/com/example/demo/management_service/dto/response/ContactInfoResponse.java
  backend/management-service/src/main/java/com/example/demo/management_service/dto/response/DomainConfigurationResponse.java
  backend/management-service/src/main/java/com/example/demo/management_service/dto/response/ScannableDomainResponse.java
  backend/management-service/src/main/java/com/example/demo/management_service/dto/response/WebsiteResponse.java
Due: java-format-check

feat: create Website entity model and configure JDBI (task 23)
  backend/management-service/pom.xml
  backend/management-service/src/main/java/com/example/demo/management_service/config/JdbiConfiguration.java
  backend/management-service/src/main/java/com/example/demo/management_service/model/Website.java
Due: java-format-check

feat: implement WebsiteDao interface and JDBI implementation (task 24)
  backend/management-service/src/main/java/com/example/demo/management_service/dao/WebsiteDao.java
  backend/management-service/src/main/java/com/example/demo/management_service/dao/impl/WebsiteDaoImpl.java
Due: java-format-check

feat: implement AES-256-GCM encryption utility (task 25)
  backend/management-service/src/main/java/com/example/demo/management_service/util/EncryptionUtil.java
  backend/management-service/src/main/resources/application.properties
Due: java-format-check

feat: implement WebsiteService with business logic and validation (task 26)
  backend/management-service/src/main/java/com/example/demo/management_service/exception/ValidationException.java
  backend/management-service/src/main/java/com/example/demo/management_service/service/WebsiteService.java
  backend/management-service/src/main/java/com/example/demo/management_service/service/impl/WebsiteServiceImpl.java
Due: java-format-check

Path conditions:
  typescript-check: any of: \.(ts|tsx)$
  frontend-tests: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  java-format-check: any of: \.java$
