Repository ecruz165/conversation-ui-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, frontend-tests, java-format-check

typescript-check:
  name: TypeScript Check
  entry: pnpm run type-check
  language: system
  pass_filenames: false

frontend-tests:
  name: Frontend Tests
  entry: pnpm run test:frontend
  language: system
  pass_filenames: false

java-format-check:
  name: Java Format Check
  entry: mvn spotless:check
  language: system
  pass_filenames: false

feat: implement WebsiteController and WebsiteMapper (tasks 27 & 28)
  backend/management-service/src/main/java/com/example/demo/management_service/controller/WebsiteController.java
  backend/management-service/src/main/java/com/example/demo/management_service/mapper/WebsiteMapper.java
Due: java-format-check

feat: implement global exception handler and error DTOs (task 29)
  backend/management-service/src/main/java/com/example/demo/management_service/dto/error/ErrorResponse.java
  backend/management-service/src/main/java/com/example/demo/management_service/dto/error/ValidationErrorResponse.java
  backend/management-service/src/main/java/com/example/demo/management_service/exception/GlobalExceptionHandler.java
Due: java-format-check

fix: correct encryption key to valid 32-byte AES key
  backend/management-service/src/main/resources/application.properties
Due: none

Added devx console for frontend dev with mocking framework
  frontend/management-ui/devx-prd.md
  frontend/management-ui/public/mockServiceWorker.js
  frontend/management-ui/src/components/DevXControlPanel.tsx
  frontend/management-ui/src/config/devx.config.ts
  frontend/management-ui/src/mocks/browser.ts
  frontend/management-ui/src/utils/memory-monitor.ts
  frontend/management-ui/src/utils/network-logger.ts
  frontend/management-ui/src/utils/performance-observer.ts
  frontend/management-ui/src/utils/web-vitals-tracker.ts
  frontend/management-ui/src/wdyr.ts
Due: typescript-check, frontend-tests

Added devx console for frontend dev with mocking framework
  frontend/management-ui/devx-prd.md
  frontend/management-ui/package.json
  frontend/management-ui/public/mockServiceWorker.js
  frontend/management-ui/src/App.tsx
  frontend/management-ui/src/components/DevXControlPanel.tsx
  frontend/management-ui/src/config/devx.config.ts
  frontend/management-ui/src/main.tsx
  frontend/management-ui/src/mocks/browser.ts
  frontend/management-ui/src/utils/memory-monitor.ts
  frontend/management-ui/src/utils/network-logger.ts
  frontend/management-ui/src/utils/performance-observer.ts
  frontend/management-ui/src/utils/web-vitals-tracker.ts
  frontend/management-ui/src/wdyr.ts
  frontend/management-ui/vite.config.ts
Due: typescript-check, frontend-tests

Path conditions:
  typescript-check: any of: \.(ts|tsx)$
  frontend-tests: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  java-format-check: any of: \.java$
